<!DOCTYPE html>
<html>
				{% include "head_nav.html" %}
  <body>
					{% include "nav.html" %}
    <div class="page">
						{% include "header.html" %}
      <!-- navbar-->
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
            <li class="breadcrumb-item active">Analysis</li>
          </ul>
        </div>
      </div>
      <section class="charts">
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <h1 class="h3 display">Data Analysis</h1>
						{% if not compare_mode  %}
						<small >run -> {{ run_dir }}</small></br>
						<small >Config: {{ config_file }}</small></br>
						<small >Description: {{ description }}</small>
						{% endif %}
          </header>
          {% for metric in metrics %}
            <div class="row">
              <div class="col-lg-6">
                <div class="card line-chart-example">
                  <div class="card-header d-flex align-items-center">
													<h4> {{ metric }}</h4>
                  </div>
                  <div class="card-body">
											<canvas id="lineChart-{{ metric }}"></canvas>
                  </div>
                </div>
              </div>
          </div>
					{% endfor %}
						
        </div>
      </section>
					{% include "footer.html" %}
    </div>
					{% include "script.html" %}
					{% if compare_mode %}
          <script src="/static/js/charts-compare.js"></script>
					{% else %}
          <script src="/static/js/charts-custom.js"></script>
					{% endif %}
  </body>
</html>
