<!DOCTYPE html>
<html>
  <head>
				{% include "head_nav.html" %}
  </head>
  <body>
    <!-- Side Navbar -->
    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!-- User Info-->
          <div class="sidenav-header-inner text-center"><img src="/static/img/avatar_1.jpg" alt="person" class="img-fluid rounded-circle">
            <h2 class="h5">Haihuam</h2><span></span>
          </div>
          <!-- Small Brand information, appears on minimized sidebar-->
          <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
          <h5 class="sidenav-heading">Main</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">                  
            <li><a href="/"> <i class="icon-home"></i>Home</a></li>
            <li class="active"><a href="charts.html"> <i class="fa fa-bar-chart"></i>Detail</a></li>
            <li><a href="/view/status.html"> <i class="icon-grid"></i>Status</a></li>
            <li><a href="/view/experiments.html"> <i class="icon-grid"></i>Experiments</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="page">
						{% include "header.html" %}
      <!-- navbar-->
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
            <li class="breadcrumb-item active">Analysis</li>
          </ul>
        </div>
      </div>
      <section class="charts">
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <h1 class="h3 display">Data Analysis</h1>
						{% if not compare_mode  %}
						<small >run -> {{ run_dir }}</small></br>
						<small >Config: {{ config_file }}</small></br>
						<small >Description: {{ description }}</small>
						{% endif %}
          </header>
          {% for metric in metrics %}
            <div class="row">
              <div class="col-lg-6">
                <div class="card line-chart-example">
                  <div class="card-header d-flex align-items-center">
													<h4> {{ metric }}</h4>
                  </div>
                  <div class="card-body">
											<canvas id="lineChart-{{ metric }}"></canvas>
                  </div>
                </div>
              </div>
          </div>
					{% endfor %}
						
        </div>
      </section>
					{% include "footer.html" %}
    </div>
					{% include "script.html" %}
					{% if compare_mode %}
          <script src="/static/js/charts-compare.js"></script>
					{% else %}
          <script src="/static/js/charts-custom.js"></script>
					{% endif %}
  </body>
</html>
