<!DOCTYPE html>
<html>
				{% include "head_nav.html" %}
  <body>
					{% include "nav.html" %}
    <div class="page">
						{% include "header.html" %}
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
            <li class="breadcrumb-item active">Status       </li>
          </ul>
        </div>
      </div>
      <section>
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <h1 class="h3 display">Status Details</h1>
          </header>
          <div class="container">
            <div class="col-sm-6 ">
                    <table id="status-data-table" class="table table-condensed table-hover" style="width:100%">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Config</th>
                          <th>Run ID</th>
                          <th>Status</th>
                          <th>Current Epoch</th>
                          <th>Evaluation</th>
                          <th>Estimate Time</th>
													<th>Operation</th>
                        </tr>
                      </thead>
                      <tbody>
												{% for item in status %}
                        <tr>
																<td> {{ loop.index }} </td>
																<td>
																				<p class="text-primary"><a href="/detail/{{ item._id }}"> {{ item.config_file }}</a></p>
																				<p><small> Description: {{ item.description }} </small> </p>
																				<p><small> Num GPUs: {{ item.train_num_gpu }} </small> </p>
																				{% if item.host %}
																				<p><small> Host: {{ item.host }} </small> </p>
																				{% endif %}
																				{% if item.run_dir %}
																				<p><small> Dir: {{ item.run_dir }} </small></p>
																				{% endif %}
																</td>
																<td><a href="/detail/{{ item._id }}"> {{ item.run_idx }}</a></td>
																<td>{{ item.status }}</td>
																<td>
																		{{ item.current_epoch }}
																		{% if item.log_last_update %}
																		<hr>
																		<em>{{ item.log_last_update }}</em>
																		{% endif %}
																</td>
																<td>{{ item.current_eval_html|safe }}</td>
																<td>{{ item.est_remaining_time }}</td>

                                <td class="align-middle">
																		{% if modify %}
																		<!-- Button trigger modal -->
																		<button onclick="deleteValues('{{ item._id }}')" type="button" class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#deleteModal"> Delete </button>

																		<button onclick="rescheduleValues('{{ item._id }}')" type="button" class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#rescheduleModal"> Reschedule</button>
																		<button onclick="finetuneValues('{{ item._id }}')" type="button" class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#rescheduleModal"> Finetune</button>
															 {% else %}
																    <button type="button" class="btn btn-sm btn-block btn-primary" data-toggle="modal" data-target="#hintModal"> Delete </button>
																	  <button type="button" class="btn btn-sm btn-block btn-primary" data-toggle="modal" data-target="#hintModal"> Reschedule</button>
																	  <button type="button" class="btn btn-sm btn-block btn-primary" data-toggle="modal" data-target="#hintModal"> Finetune(+2)</button>
																{% endif %}
															 </td>
                        </tr>
												{% endfor %}
                      </tbody>
                    </table>

		<!-- delete Modal -->
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
      <input type="hidden" id="delete_run_id" name="delete_run_id" value=''>
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Delete Run</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body"> Are you sure to delete the run?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button onclick="deleteRun()" type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
				</div>
		  </div>
	  </div>
	 </div>

		<!-- Reschedule Modal -->
		<div class="modal fade" id="rescheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
      <input type="hidden" id="rescheduler_run_id" name="rescheduler_run_id" value=''>
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Reschedule the run</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body"> Are you sure to reshedule the run?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button onclick="rescheduleRun()" type="button" class="btn btn-primary" data-dismiss="modal">Reschedule</button>
				</div>
		  </div>
	  </div>
	 </div>

		<!-- hint Modal -->
		<div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
      <input type="hidden" id="run_id" name="run_id" value=''>
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Permission Denied</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body">You are not allowed for the operation.</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
		  </div>
	  </div>
	 </div>
            </div>
          </div>
        </div>
      </section>
					{% include "footer.html" %}
    </div>
					{% include "script.html" %}
          <script src="/static/js/btn-custom.js"></script>
					<link href="/static/css/dataTables.bootstrap4.min.css" rel="stylesheet">
					<script src="/static/js/jquery.dataTables.min.js"></script>
					<script src="/static/js/dataTables.bootstrap4.min.js"></script>
					<script>
								$(document).ready(function() {
													$('#status-data-table').DataTable();
								});

          </script>

  </body>
</html>
