<!DOCTYPE html>
<html>
				{% include "head_nav.html" %}
  <body>
					{% include "nav.html" %}
    <div class="page">
						{% include "header.html" %}
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
            <li class="breadcrumb-item active">Status       </li>
          </ul>
        </div>
      </div>
      <section>
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
				<div class="col-sm-1">
				 <div class="card text-center" >
					<div class="card-header small"> Operation </div>
					<!-- <div class="card-body"> -->
						<a href="#" style="text-decoration: none" class="admin-operation btn btn-light" data-toggle="modal" data-target="#addConfigModal">Add Run</a>
					<!-- </div> -->
				 </div>
				</div>
          </header>
          <div class="container">
            <div class="col-sm-7 ">
                    <table id="status-data-table" class="table text-center table-bordered table-condensed " style="width:60%">
                      <thead>
                        <tr>
                          <th>Config</th>
                          <th>Run ID</th>
                          <th>Host</th>
                          <th>Status</th>
                          <th>Evaluation</th>
                          <th>Current Epoch</th>
                          <th>Estimate Time</th>
													<th>Operation(Run)</th>
													<th>Operation(Config)</th>
                        </tr>
                      </thead>
                      <tbody>
												{% for item in tasks %}

																<tr>

																{% if item.frequency ==0 %}
																<td rowspan=1 class="align-middle"> 
																{% else %}
																<td rowspan="{{ item.frequency }}" class="align-middle"> 
																{% endif %}

																{{ item.config_file }}
																<p><small>Notes: {{ item.description }} </small></p>
																</td>

																{% if item.runs|length > 0 %}
																{% for run in item.runs %}
																				<td class="align-middle">
																					<a href="/detail/{{ run._id }}">{{ run.run_idx }}</a><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Edit Run"> 
																					<button onclick="editRunValues('{{ run._id }}')" type="button" class="admin-operation btn btn-light btn-circle btn-circle-sm m-1" data-toggle="modal" data-target="#editRunModal"><i class="fa fa-cog"></i></button> </span>
																				</td>
																				<td class="align-middle" onclick="copyRunDir('{{ run.run_dir }}')" ><small>{{ run.host }}</small></td>
																				<td class="align-middle">
																								{% if run.status == "all_done" %}
																								<p class="text-success">{{ run.status }}<p>
																								{% endif %}
																								{% if run.status == "train_done" %}
																								<p class="text-success">all_done<p>
																								{% endif %}
																								{% if run.status == "train_running"  or run.status == "recovering" or run.status == "recover_running" %}
																								<p class="text-info">{{ run.status }}<p>
																								{% endif %}
																								{% if run.status == "train_fail" %}
																								<p class="text-danger">{{ run.status }}<p>
																								{% endif %}
																								{% if run.status == "pending" or run.status == "train_stopped" %}
																								<p class="text-warning">{{ run.status }}<p>
																								{% endif %}
																								{% if run.status == "deleting" or run.status == "stopping" %}
																								<p class="text-warning">{{ run.status }}<p>
																								{% endif %}
																								<p><small>{{ run.log_last_update }} </small></p>
																				</td>
																				<td class="align-middle">{{ run.current_eval_html | safe }}</td>
																				<td class="align-middle">{{ run.current_epoch }}</td>
																				<td class="align-middle">{{ run.est_remaining_time }}</td>
                                        <td align="center" class="align-middle">
																								<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Delete Run"><button onclick="deleteValues('{{ run._id }}')" type="button" class="admin-operation btn btn-block btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o"></i></button></span>
																								<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Stop Run"><button onclick="stopValues('{{ run._id }}')" type="button" class="admin-operation btn btn-block btn-sm btn-warning" data-toggle="modal" data-target="#stopModal"><i class="fa fa-stop-circle"></i></button></span>

																								<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Recover Run">	<button onclick="recoverValues('{{ run._id }}')" type="button" class="admin-operation btn btn-block btn-sm btn-info" data-toggle="modal" data-target="#recoverModal"><i class="fa fa-repeat"></i></button></span>
																								<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Compare Run Results"><button  type="button" class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#compareModal"><i class="fa fa-binoculars"></i></button></span>
																				</td>

																{% if loop.index == 1 %}
																	{% if item.frequency ==0 %}
																				<td align="center" rowspan=1 class="align-middle"> 
																	{% else %}
																				<td align="center" rowspan="{{ item.frequency }}" class="align-middle">
																	{% endif %}
																	<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Add Run"><button onclick="addrunValues('{{ item._id }}')" type="button" class="admin-operation btn btn-block btn-xl btn-light btn-circle" data-toggle="modal" data-target="#addrunModal"><i class="fa fa-plus-circle"></i></button></span>
																	<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Edit Config"><button onclick="editValues('{{ item._id }}')" type="button" class="admin-operation btn btn-block btn-xl btn-light btn-circle" data-toggle="modal" data-target="#editModal"><i class="fa fa-cog"></i></button></span>
																	<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Delete Run"><button onclick="deleteConfValues('{{ item._id }}')" type="button" class="admin-operation btn btn-block btn-xl btn-light" data-toggle="modal" data-target="#deleteConfigModal"><i class="fa fa-trash-o"></i></button></span>
																				</td>
																{% endif %}

																</tr>
																{% endfor %}
																{% else %}
																<td> <td> <td> <td> <td> <td> <td>
																				<td align="center" rowspan=1 class="align-middle"> 
																								<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Add Run"><button onclick="addrunValues('{{ item._id }}')" type="button" class="admin-operation btn btn-block btn-xl btn-light btn-circle" data-toggle="modal" data-target="#addrunModal"><i class="fa fa-plus-circle"></i></button></span>
																								<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Edit Config"><button onclick="editValues('{{ item._id }}')" type="button" class="admin-operation btn btn-block btn-xl btn-light btn-circle" data-toggle="modal" data-target="#editModal"><i class="fa fa-cog"></i></button></span>
																	<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Delete Run"><button onclick="deleteConfValues('{{ item._id }}')" type="button" class="admin-operation btn btn-block btn-xl btn-light" data-toggle="modal" data-target="#deleteConfigModal"><i class="fa fa-trash-o"></i></button></span>
																				</td>
																</tr>
																{% endif %}

												{% endfor %}
                      </tbody>
                    </table>

										{% include "modal.html" %}

            </div>
          </div>
        </div>
      </section>
					{% include "footer.html" %}
    </div>
					{% include "script.html" %}
          <script src="/static/js/btn-custom.js"></script>
					<script>
								$(document).ready(function(){
											if ({{ modify }})
											{ 
											  console.log("You are in admin mode.")
											} else {
											  console.log("You are in common mode.")
											  $(".admin-operation").attr('data-target','#hintModal');
											}
								});
					</script>

  </body>
</html>
