<!DOCTYPE html>
<html>
				{% include "head_nav.html" %}
  <body>
					{% include "nav.html" %}
    <div class="page">
						{% include "header.html" %}
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
            <li class="breadcrumb-item active">Status       </li>
          </ul>
        </div>
      </div>
      <section>
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <h1 class="h3 display">Status Details</h1>
          </header>
          <div class="container">
            <div class="col-sm-6 ">
                    <table id="status-data-table" class="table text-center table-bordered table-condensed " style="width:100%">
                      <thead>
                        <tr>
                          <th>Config</th>
                          <th>Run ID</th>
                          <th>Host</th>
                          <th>Status</th>
                          <th>Evaluation</th>
                          <th>Current Epoch</th>
                          <th>Estimate Time</th>
													<th>Operation(Run)</th>
													<th>Operation(Config)</th>
                        </tr>
                      </thead>
                      <tbody>
												{% for item in tasks %}

																<tr>

																{% if item.frequency ==0 %}
																<td rowspan=1 class="align-middle"> 
																{% else %}
																<td rowspan="{{ item.frequency }}" class="align-middle"> 
																{% endif %}

																{{ item.config_file }}
																<p><small>Notes: {{ item.description }} </small></p>
																</td>

																{% if item.runs|length > 0 %}
																{% for run in item.runs %}
																				<td class="align-middle">
																												<a href="/detail/{{ run._id }}">{{ run.run_idx }}</a>
																				</td>
																				<td class="align-middle"><small>{{ run.host }}</small></td>
																				<td class="align-middle">
																								{% if run.status == "all_done" %}
																								<p class="text-success">{{ run.status }}<p>
																								{% endif %}
																								{% if run.status == "train_done" %}
																								<p class="text-success">all_done<p>
																								{% endif %}
																								{% if run.status == "train_running"  or run.status == "recovering" or run.status == "recover_running" %}
																								<p class="text-info">{{ run.status }}<p>
																								{% endif %}
																								{% if run.status == "train_fail" %}
																								<p class="text-danger">{{ run.status }}<p>
																								{% endif %}
																								{% if run.status == "pending" or run.status == "train_stopped" %}
																								<p class="text-warning">{{ run.status }}<p>
																								{% endif %}
																								{% if run.status == "deleting" or run.status == "stopping" %}
																								<p class="text-warning">{{ run.status }}<p>
																								{% endif %}
																								<p><small>{{ run.log_last_update }} </small></p>
																				</td>
																				<td class="align-middle">{{ run.current_eval_html | safe }}</td>
																				<td class="align-middle">{{ run.current_epoch }}</td>
																				<td class="align-middle">{{ run.est_remaining_time }}</td>
                                        <td class="align-middle">
																		    {% if modify %}
																						<button onclick="deleteValues('{{ run._id }}')" type="button" class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#deleteModal"> Delete </button>
																						<button onclick="stopValues('{{ run._id }}')" type="button" class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#stopModal"> Stop</button>

																						<button onclick="rescheduleValues('{{ run._id }}')" type="button" class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#rescheduleModal"> Reschedule</button>
																						<button onclick="recoverValues('{{ run._id }}')" type="button" class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#recoverModal">Recover</button>
																						<button  type="button" class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#compareModal"> Compare</button>
																				{% else %}
																						<button type="button" class="btn btn-sm btn-block btn-primary" data-toggle="modal" data-target="#hintModal"> Stop</button>
																						<button type="button" class="btn btn-sm btn-block btn-primary" data-toggle="modal" data-target="#hintModal"> Reschedule</button>
																						<button type="button" class="btn btn-sm btn-block btn-primary" data-toggle="modal" data-target="#hintModal"> Recover</button>
																						<button type="button" class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#compareModal"> Compare</button>
																				{% endif %}
																				</td>

																				{% if loop.index == 1 %}
																				  {% if item.frequency ==0 %}
																								<td rowspan=1 class="align-middle"> 
																					{% else %}
                                                <td rowspan="{{ item.frequency }}" class="align-middle">
																					{% endif %}
																								{% if modify %}
																										<button onclick="addrunValues('{{ item._id }}')" type="button" class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#addrunModal">Add</button>
																										<button onclick="editValues('{{ item._id }}')" type="button" class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#editModal">Edit</button>
																								{% else %}
																										<button type="button" class="btn btn-sm btn-block btn-primary" data-toggle="modal" data-target="#hintModal">Add</button>
																								{% endif %}
																				        </td>
																				{% endif %}

																</tr>
																{% endfor %}
																{% else %}
																<td>
																<td>
																<td>
																<td>
																<td>
																<td>
																<td>
																<td rowspan=1 class="align-middle"> 
																				{% if modify %}
																						<button onclick="addrunValues('{{ item._id }}')" type="button" class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#addrunModal">Add</button>
																				{% else %}
																						<button type="button" class="btn btn-sm btn-block btn-primary" data-toggle="modal" data-target="#hintModal">Add</button>
																				{% endif %}
																</td>
																</tr>
																{% endif %}



												{% endfor %}
                      </tbody>
                    </table>

		<!-- delete Modal -->
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
      <input type="hidden" id="delete_run_id" name="delete_run_id" value=''>
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Delete Run</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body"> Are you sure to delete the run?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button onclick="deleteRun()" type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
				</div>
		  </div>
	  </div>
	 </div>

		<!-- delete Modal -->
		<div class="modal fade" id="stopModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
      <input type="hidden" id="stop_run_id" name="stop_run_id" value=''>
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Stop Run</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body"> Are you sure to stop the run?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button onclick="stopRun()" type="button" class="btn btn-primary" data-dismiss="modal">Stop</button>
				</div>
		  </div>
	  </div>
	 </div>



		<!-- Reschedule Modal -->
		<div class="modal fade" id="rescheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
      <input type="hidden" id="rescheduler_run_id" name="rescheduler_run_id" value=''>
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Reschedule the run</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body"> Are you sure to reshedule the run?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button onclick="rescheduleRun()" type="button" class="btn btn-primary" data-dismiss="modal">Reschedule</button>
				</div>
		  </div>
	  </div>
	 </div>

		<!-- Reschedule Modal -->
		<div class="modal fade" id="recoverModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
      <input type="hidden" id="recover_run_id" name="recover_run_id" value=''>
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Reschedule the run</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body"> Are you sure to recover the run?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button onclick="recoverRun()" type="button" class="btn btn-primary" data-dismiss="modal">Recover</button>
				</div>
		  </div>
	  </div>
	 </div>


		<!-- Add Run Modal -->
		<div class="modal fade" id="addrunModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
      <input type="hidden" id="add_run_id" name="add_run_id" value=''>
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add a run</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body"> Are you sure to add a new run for this config?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button onclick="addRun()" type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
				</div>
		  </div>
	  </div>
	 </div>

		<!-- Edit Run Modal -->
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
      <input type="hidden" id="edit_config_id" name="edit_config_id" value=''>
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit Config</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body"> Are you sure to add a new run for this config?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button onclick="editConfig()" type="button" class="btn btn-primary" data-dismiss="modal">Edit</button>
				</div>
		  </div>
	  </div>
	 </div>



		<!-- Compare Modal -->
		<div class="modal fade modal-xl" id="compareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  style="width:90%">
		<div class="modal-dialog modal-lg" style="width:90%" role="document">
      <input type="hidden" id="add_run_id" name="add_run_id" value=''>
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Compare between different runs</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body"> 
							<div class="custom-control custom-checkbox">
			
                    <table id="status-data-table" class="table text-center table-bordered table-condensed " style="width:100%">
                      <thead>
                        <tr>
                          <th>Config</th>
                          <th>Run ID</th>
                          <th>Current Epoch</th>
                          <th>Select</th>
                        </tr>
                      </thead>
                      <tbody>
												{% for item in tasks %}
																{% for run in item.runs %}
																<tr>
																				{% if loop.index == 1 %}
																				<td rowspan="{{ item.frequency }}" class="align-middle"> 
																								{{ item.config_file }}
																								<p><small>Notes: {{ item.description }} </small></p>
																				</td>
																				{% endif %}
																				<td class="align-middle">
																												<a href="/detail/{{ run._id }}">{{ run.run_idx }}</a>
																				</td>
																				<td class="align-middle">{{ run.current_epoch }}</td>
																				<td>
																								<div class="custom-control custom-checkbox">
																												<input name="compare-runs-checkbox" type="checkbox" class="custom-control-input" id="check-box-{{ run._id }}" value="{{run._id}}">
																												<label class="custom-control-label" for="check-box-{{ run._id }}"></label>
																								</div>
																				</td>
																</tr>
																{% endfor %}

												{% endfor %}
                      </tbody>
                    </table>
						</div>
			
			</div>
				<div class="modal-footer">
					<button onclick="addexpRuns()" type="button" class="btn btn-info" data-dismiss="modal">Add to Exp</button>
					<button onclick="compareRuns()" type="button" class="btn btn-primary" data-dismiss="modal">Compare</button>
				</div>
		  </div>
	  </div>
	 </div>


		<!-- hint Modal -->
		<div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
      <input type="hidden" id="run_id" name="run_id" value=''>
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Permission Denied</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body">You are not allowed for the operation.</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
		  </div>
	  </div>
	 </div>
            </div>
          </div>
        </div>
      </section>
					{% include "footer.html" %}
    </div>
					{% include "script.html" %}
          <script src="/static/js/btn-custom.js"></script>
					<script>
					</script>


  </body>
</html>
